<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYmI4OJ3PfYfednJzgCfbysoFuuibMf5c</string>
	<key>GCM_SENDER_ID</key>
	<string>665464398406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boodget.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>boodget-69ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>boodget-69ad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665464398406:ios:64e553e780aabc75aae047</string>
</dict>
</plist>